*{
    margin: 0;
    padding: 0;
}

.top{
    background-color: #323b4c;
    display: flex;
    justify-content: space-between;
    
}
.start{
    height: 40px;
    width: auto;
    background-color: #323b4c;
}
nav{
    height: 90px;
    background-color: #323b4c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
nav a:hover, nav a:active{
    background-color:black;
    border-radius: 5px;
    height: 40px;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#sidebar-active{
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn{
    display: none;

}

@media(max-width: 730px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        /* top: 0; */
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: #323b4c;
        box-shadow: -5 0 5 black;
        transition: 0.75s ease-out;
        border-radius: 10px;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-btn, .close-sidebar-btn{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.header-design{
    background-color: transparent;
}

.header-img{
    width: 250px;
    height: 100px;
}

header{
    position: sticky;
    top: 0;
}

main{
    background-color: white;
    margin: 0px 50px 35px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #323b4c;
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 5px 5px 20px;
    height: 590px;
    width: 1200px;
    margin-top: 160px;
}

.helo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.pictureonme{
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 200px;

    .email-topic{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 20px 10px 20px;
    }
    
}


footer{
    position: sticky;
    bottom: 72px;
    height: 50px;
    width: auto;
    color: white;
    font-size: .875rem;
    line-height: 1.25rem;

    .footer-design{
        display: flex;
        flex-direction: row;
    }
    .side{
        height: auto;
        width: 70px;
        background-color: #323b4c;
    }
    .footer-img{
        width: 1100px;
        height: 100px;
    }
    .end{
        display: flex;
        justify-content: space-between;
        background-color: #323b4c;
    }
    .icons-img{
        margin: 0 5px;
    }
}